@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{

    font-family: "Poppins", sans-serif;
    overflow-x: hidden;
    min-height: 100vh;
    max-width: 100%;
}

header {

    position: relative;
    z-index: 10; /* Upewnia się, że logo będzie na wierzchu */
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 20px;
    background: white;


}

.container{


    width: 100%;

}

.logo-container {
    position: absolute;
    top: -30px; /* Wystaje ponad nawigację */
    left: 20px; /* Dopasowanie pozycji */
    z-index: 20; /* Sprawia, że logo nachodzi na hero image */
}

.logo {
    position: fixed;
    margin-left: 1rem;
    width: 8rem; /* Dopasuj rozmiar logo */
    height: auto;
    margin-top: 3rem;
    /* background: hsla(0, 0%, 0%, 0.8); */
    border-radius: 1rem;
    border: 1px solid black;
    box-shadow: 10px 10px 15px black;


}

.mobile-nav-toggle{
    display: none;
}

.navbar {
    position: fixed;
    top: 0px;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 1rem 2rem;
    background: transparent;
    transition: background-color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
    z-index: 1000;

}

.navbar::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 6rem; 
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.8), transparent);
    pointer-events: none; 
    z-index: -1;

}









.navbar ul {
    list-style: none;
    display: flex;
    gap: 1.5rem;
    margin-top: 1rem;
}



.navbar ul li a {
    text-decoration: none;
    color: white;
    font-weight: 400;

}

/* .navbar {
    display: flex;
    width: 100%;
    justify-content: flex-end;
    background: white;
    
    


    
}



.navbar ul {
   
   

    list-style: none;
    margin: 0;

    display: flex;

    gap: 20px;
    
}

.nav-list a {
    letter-spacing: 1.5px;
    text-decoration: none;
    color: black;
    font-size: 0.9rem;
    font-weight: 400;
} */



.hero {
    position: relative;
    
}

.hero-text{
    position: absolute;
    
    top: 20rem;
    right:2rem;
    width: 45rem;
    height: 10rem;
    color: white;
    text-transform: uppercase;
     /* background: hsla(0, 0%, 0%, 0.4); */
     border-radius: 2rem;
     
     
}

.footer-container{
    background-color: rgb(236, 236, 236)
}

.footer-row{
    display: grid;
    grid-template-columns: 1fr 1fr;
    place-items: center;


}
.footer-logo{
    width: 20rem;

}

.footer-content{
    margin-left: 5rem;
}

.footer-title{
    font-size: 2rem;
    margin-bottom: 1rem;
}
.fa-location-dot{
    margin-top: 1rem;
}

@media(max-width: 920px){

    header{
        padding: 0;
    }

    .logo{
        margin-left: 0;
        width: 6rem;


    }

    .nav-list{

        position: fixed;
        inset: 0 0 0 30%;
        z-index: 199;

        flex-direction: column;
        justify-content: flex-start;
        padding: 4rem 3rem ;
        background-color: white;
        transform: translateX(100%);
        transition: transform 150ms ease-out;


    }



    .mobile-nav-toggle{

        display: block;
        position: absolute;
        z-index: 9999;
        border: 0;
        width: 3rem;
        aspect-ratio: 1;
        top: 2rem;
        right: 2rem;
        background: hsl(0 0% 100% / 0.8);
    }

    .fa-bars{
        font-size: 2rem;
    }

    .fa-times{
        font-size: 2rem;
    }

    .nav-list[data-visible="true"]{
        transform: translateX(0%);


    }

    .footer-container{
        padding: 2rem 0;
    }

    .footer-row{
        display: flex;
        flex-direction: column;
        text-align: center;


    }

    .footer-content{
        margin: 0 2rem;
    }

.footer-logo{
    width: 8rem; 
    height: auto;
    margin: 0 auto;
    display: block;
    margin-top: 1rem;
    border-radius: 1rem;
    border: 1px solid black;
    box-shadow: 10px 10px 15px black;
    }

    .footer-title{
        font-size: 2rem;
        margin: 2rem 0

    }

    .fa-location-dot{
        margin-top: 1rem;
    }


  


}